.inspeccion-icon { background-image: url(images/inspeccion.png) !important; }
.x-btn-large .inspeccion-icon { background-image: url(images/inspeccion32.png) !important; }
.inspeccion-shortcut { background-image: url(images/inspeccion48.png) !important; }
#inspeccion-nav-panel li { margin-bottom:5px; }
.save-icon{background:transparent url(images/add.png) 0 0 no-repeat !important;}
.delete-icon{background:transparent url(images/delete.png) 0 0 no-repeat !important;}
.print-icon{background:transparent url(images/printer.png) 0 0 no-repeat !important;}
.send-icon{background:transparent url(images/email_go.png) 0 0 no-repeat !important; overflow: hidden; width: 120px }

.reload-icon{background:transparent url(images/reload.png) 0 0 no-repeat !important;}
.excel-icon{background:transparent url(images/excell.png) 0 0 no-repeat !important;}

.sololectura {border: 0;
    color: #990000;
    background-color: #ECF0FF !important;
    background-image: none!important;}

.no-border,.no-border .x-panel-body,.no-border .x-tab-panel-body, .no-border .x-panel-body-noheader, .no-border  .x-panel-body  {
    border: none !important;
}

.x-toolbar-cell .x-form-checkbox  {
    margin-top: 0px !important;
}
.gold  { background-color: bisque !important;}

 .x-combo-list-inner, .x-combo-list {min-width: 220px !important;}